@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


/* Commun a tous les média */

html{
	scroll-behavior: smooth;
}
a{
	text-decoration: none;
	color: white;
}
body{
	margin: 0 auto;
	background: hsl(217, 28%, 15%);
	font-family: 'Open Sans' , sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: white;
}

/* Construction de l'en-tête*/

header{
	background: bottom/contain no-repeat url("../images/bg-curvy-desktop.svg");	
}
h1 h2{
	font-family: 'Raleway', cursive;
	font-weight: 700;
}
p{
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 400;
}

.top_bar{
	padding: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 
}
nav {
	width: 25vw;
	display: flex;
	justify-content: space-between;
}
.email-sign-up{
	text-align: center;
	padding-bottom: 150px;
}
button{
	border: none;
	color: white;
	font-weight: bold;
	cursor: pointer;
	border-radius: 20px;
	padding: 15px;
	width: 15vw;
	background:linear-gradient(150deg,hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}
input{
	border: none;
	color: black;
	font-weight: bold;
	border-radius: 20px;
	padding: 15px;
	width: 30vw
}

main{
	background-color: hsl(218, 28%, 13%);
	display: flex;
	flex-direction: column;	
}


/* Wrap content */ 
.wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 60vw;
	margin: 0px auto 100px auto;
}

.wrap_content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 25vw;
	text-align: center;
}

/* Location part */

.location{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 100px;
}

.location div {
	width: 40vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.location a {
	display: flex;
	align-items: center;
	text-decoration: underline;
}

/* Comment part */ 

.comment{
	padding: 0px 10vw;
	margin-bottom: 200px;
}
.comment_container{
	position: relative;
	top : -15px;
	left: 10px;
	z-index: 1;
	display: flex;
	justify-content: space-between;
}

.comment_content{
	background-color: hsl(219, 30%, 18%);
	width: 20vw;
	padding: 15px;
	border-radius: 5px;
}
.profile{
	display: flex;
	align-items: center;
}
.profile_photo{
	/* keeping the ratio of the picture */
	width: 2vw;
	height: 2vw;
	/*Positionning */
	margin-right: 10px;
	border-radius: 20px;
}
.profile_name{
	font-weight: bold;
	font-size: 10px;
	margin: 0px;
}
.profile_role{
	font-size: 8px;
	margin: 0px;
}


/* Early Access part */ 

.early_access{
	z-index: 2;
	background-color: hsl(217, 28%, 15%);
	width: 50%;
	margin: 0 auto 0 auto;
	position: relative;
	top: -100px;
	border-radius: 10px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow:
}
